In [1]:
import pandas as pd

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
series_q1 = pd.Series([4, 8, 15, 16, 23, 42])
print("Q1. Pandas Series:")
print(series_q1)
print()

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
list_q2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_q2 = pd.Series(list_q2)
print("Q2. Pandas Series from list:")
print(series_q2)
print()

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""
DataFrame is a two-dimensional labeled data structure in pandas capable of holding data of different types. It can be thought of as a table with rows and columns, where each column can be of a different data type.
A DataFrame is different from a pandas Series in that a Series represents a one-dimensional array, while a DataFrame represents a two-dimensional array. Additionally, a DataFrame can contain multiple columns, each with its own label.
Example:
"""
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print("Q4. Pandas DataFrame:")
print(df)
print()

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
"""
Some common functions to manipulate data in a Pandas DataFrame include:
- .head(): View the first few rows of the DataFrame.
- .tail(): View the last few rows of the DataFrame.
- .info(): Get a concise summary of the DataFrame.
- .describe(): Generate descriptive statistics of the DataFrame.
Example:
"""
print("Q5. Example of using common functions:")
print("First few rows of the DataFrame:")
print(df.head())
print()

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""
DataFrame is mutable in nature, meaning it can be modified after creation. Series and Panel are immutable.
"""

# Q7. Create a DataFrame using multiple Series. Explain with an example.
"""
You can create a DataFrame using multiple Series by passing the Series as a dictionary to the DataFrame constructor.
Example:
"""
series_name = pd.Series(['Alice', 'Bob', 'Claire'])
series_age = pd.Series([25, 30, 27])
series_gender = pd.Series(['Female', 'Male', 'Female'])

df_multiple_series = pd.DataFrame({'Name': series_name, 'Age': series_age, 'Gender': series_gender})
print("Q7. DataFrame created using multiple Series:")
print(df_multiple_series)

Q1. Pandas Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Pandas Series from list:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q4. Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. Example of using common functions:
First few rows of the DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q7. DataFrame created using multiple Series:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [2]:
# Q3. Create a Pandas DataFrame that contains the following data:
"""
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
"""

import pandas as pd

data_q3 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df_q3 = pd.DataFrame(data_q3)
print("Q3. Pandas DataFrame:")
print(df_q3)

Q3. Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female